{
   "save" : {
      "header" : {
         "version" : "4.0.0.35"
      },
      "regions" : {
         "dialog" : {
            "DefaultSpeakerIndex" : {"type" : "int32", "value" : -1},
            "TimelineId" : {"type" : "FixedString", "value" : ""},
            "UUID" : {"type" : "FixedString", "value" : "201f31b9-12f2-0a3a-54f4-77de9b6457fa"},
            "automated" : {"type" : "bool", "value" : false},
            "category" : {"type" : "LSString", "value" : "Generic NPC Dialog"},
            "issfxdialog" : {"type" : "bool", "value" : false},
            "nodes" : [
               {
                  "RootNodes" : [
                     {
                        "RootNodes" : {"type" : "FixedString", "value" : "be0979b5-d7cc-4302-8dcf-b090948a42d0"}
                     }
                  ],
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|Direct speech response.|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "4969c328-5fad-4c33-b0b6-4f759092379d"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N12"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;-1080"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|*Animal handling success - description of animal's action/emotion.*|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "62ec7589-9eb2-40cf-9e85-09124fa33004"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N70"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Animal Handling Passed"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;-204"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "a712d787-8cac-b25a-9dcc-c2dd117b93be"},"value" : {"type" : "bool", "value" : true}}
                                    ],"type" : {"type" : "FixedString", "value" : "Local"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : "int32", "value" : -666},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "Success" : {"type" : "bool", "value" : true},
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "6a5ccbc9-32a8-40c2-8db0-fdd7f2119038"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "62ec7589-9eb2-40cf-9e85-09124fa33004"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "RollResult"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N66"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Roll Result"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "15;-204"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : -666},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : true},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|Direct speech choice.|<br>"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "7913565c-4cf8-4052-ae61-4835237a811b"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "8d60b2b9-1728-4e66-90af-f7d351c092e3"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N20"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "15;-861"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "Success" : {"type" : "bool", "value" : false},
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "7acd82c2-9108-4e0a-95c4-820f13f0b962"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "b011fec0-d136-44da-90d7-30b428333406"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "RollResult"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N86"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Roll Result"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "15;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : -666},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "Ability" : {"type" : "string", "value" : "Wisdom"},
                        "Advantage" : {"type" : "uint8", "value" : 0},
                        "DetectThoughts" : {"type" : "bool", "value" : false},
                        "DifficultyClass" : {"type" : "int32", "value" : 10},
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "RollTargetSpeaker" : {"type" : "int32", "value" : 0},
                        "RollType" : {"type" : "string", "value" : "SkillCheck"},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : true},
                        "Skill" : {"type" : "string", "value" : "AnimalHandling"},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|<i>Animal handling active roll action.</i>|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "8b239d49-9bac-4c7d-a5c7-486d0447d8e6"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "5164cbce-060c-81cb-c6fc-79758ae8ff84"},
                                          "paramval" : {"type" : "int32", "value" : 1},
                                          "value" : {"type" : "bool", "value" : false}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Dialog"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "6a5ccbc9-32a8-40c2-8db0-fdd7f2119038"}
                                 },
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "7acd82c2-9108-4e0a-95c4-820f13f0b962"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "ActiveRoll"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N62"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Animal Handling Roll"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "-305;-204"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 2},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|Direct speech response.|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "8d60b2b9-1728-4e66-90af-f7d351c092e3"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N24"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;-861"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|*Failure animal noise.* - This character is locked out from trying again.|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "b011fec0-d136-44da-90d7-30b428333406"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N90"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Animal Handling Failed"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "5164cbce-060c-81cb-c6fc-79758ae8ff84"},
                                          "paramval" : {"type" : "int32", "value" : 1},
                                          "value" : {"type" : "bool", "value" : true}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Dialog"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : true},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|Hello.|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "be0979b5-d7cc-4302-8dcf-b090948a42d0"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "dc860a81-f3c2-4c1a-ab90-e7583324845c"},
                                          "paramval" : {"type" : "int32", "value" : 1},
                                          "value" : {"type" : "bool", "value" : true}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Tag"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "da10b9f4-c926-4cc8-bcc5-27edee569c4f"}
                                 },
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "7913565c-4cf8-4052-ae61-4835237a811b"}
                                 },
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "d89ea098-a83a-4cda-b94e-ef47f5f032f2"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N16"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "SwA"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "-305;-861"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : true},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|<i>Leave.</i>|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "d89ea098-a83a-4cda-b94e-ef47f5f032f2"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N28"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "15;-642"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : true},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : true},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "|Direct speech choice.|"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "da10b9f4-c926-4cc8-bcc5-27edee569c4f"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "4969c328-5fad-4c33-b0b6-4f759092379d"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N8"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "15;-1080"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "AnimalHandlingCheck"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "0"},
                        "list" : {"type" : "LSString", "value" : ""}
                     },
                     {
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "1"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     }
                  ]
               }
            ]
         },
         "template" : {
            "parameters" : [
               {
                  "parameter" : [
                     {
                        "name" : {"type" : "FixedString", "value" : "AnimalHandlingFail"},"type" : {"type" : "FixedString", "value" : "Dialog"}}
                  ]
               }
            ]
         }
      }
   }
}
