{
   "save" : {
      "header" : {
         "version" : "4.0.0.15"
      },
      "regions" : {
         "dialog" : {
            "TimelineId" : {"type" : "FixedString", "value" : ""},
            "UUID" : {"type" : "FixedString", "value" : "c8f3f2b2-b101-1448-74f0-5063338f67b5"},
            "automated" : {"type" : "bool", "value" : false},
            "category" : {"type" : "LSString", "value" : "Generic NPC Dialog"},
            "issfxdialog" : {"type" : "bool", "value" : false},
            "nodes" : [
               {
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "InnerSpeech" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : true},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "23a46e79-e73c-4043-940f-cb0aace9ab2e"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : "[ASTARION]"
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "1b8f5c13-7775-41cd-8983-b06e23825084"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : "[HELIA]"
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "9aab4bcd-e1f7-4008-8f7b-f1203789ae9b"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : "[KARLACH]"
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 2},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "3b07eac7-fab3-4120-a46c-51dbb3ec500b"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : "[LAE'ZEL]"
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "308b1975-2ffb-4a41-b096-ab23010f4b9f"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : "[MINSC]"
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "8b4cf0fa-f712-4839-9439-f86a519078fa"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : "[SHADOWHEART]"
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "facf82dc-a6e1-4720-a0bd-6efde960dc5f"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : "[WYLL]"
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "36837b63-bf20-8507-f865-b9aaf27f1a2c"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "730e82f3-c067-44a4-985b-0dfe079d4fea"},
                                          "paramval" : {"type" : "int32", "value" : -1},
                                          "value" : {"type" : "bool", "value" : false}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Tag"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "b7361c8a-ab6a-ddec-c9a4-86ee0a7f670a"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N6"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 2},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "InnerSpeech" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "23a46e79-e73c-4043-940f-cb0aace9ab2e"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "1b8f5c13-7775-41cd-8983-b06e23825084"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "9aab4bcd-e1f7-4008-8f7b-f1203789ae9b"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "3b07eac7-fab3-4120-a46c-51dbb3ec500b"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "308b1975-2ffb-4a41-b096-ab23010f4b9f"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "8b4cf0fa-f712-4839-9439-f86a519078fa"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "FixedString", "value" : "facf82dc-a6e1-4720-a0bd-6efde960dc5f"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : -1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "value" : ""
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "b7361c8a-ab6a-ddec-c9a4-86ee0a7f670a"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N7"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "655;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : -1},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [ {} ]
         },
         "template" : {
            "parameters" : [ {} ]
         }
      }
   }
}
