{
   "save" : {
      "header" : {
         "version" : "4.0.7.403"
      },
      "regions" : {
         "dialog" : {
            "AllowDeadSpeakers" : {"type" : "bool", "value" : false},
            "DefaultAddressedSpeakers" : [ {} ],
            "DefaultSpeakerIndex" : {"type" : "int32", "value" : 0},
            "IsAllowingJoinCombat" : {"type" : "bool", "value" : false},
            "IsWorld" : {"type" : "bool", "value" : false},
            "TimelineId" : {"type" : "FixedString", "value" : ""},
            "UUID" : {"type" : "FixedString", "value" : "2e59faab-47d1-945b-312e-5a925651c4dd"},
            "automated" : {"type" : "bool", "value" : false},
            "category" : {"type" : "LSString", "value" : "Generic NPC Dialog"},
            "issfxdialog" : {"type" : "bool", "value" : false},
            "nodes" : [
               {
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [ {} ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "4d200dee-4f2c-4bf2-842a-87f8a2125eed"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N4"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "LOGIC NODE"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "975;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION_Laezel"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "dcf82fba-01b2-44f1-acf6-64254ad40007"},
                                          "paramval" : {"type" : "int32", "value" : 1},
                                          "value" : {"type" : "bool", "value" : true}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Object"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 2},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [ {} ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "7fb0440a-650a-4212-b57b-c53cbed52d4a"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "f77a5354-56fe-4b7e-9942-3d0e5b647872"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N2"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "LOGIC NODE"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION_Laezel"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "49c3c048-b5f7-466c-a996-d87cef44dde9"},
                                          "paramval" : {"type" : "int32", "value" : 0},
                                          "value" : {"type" : "bool", "value" : true}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Object"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 2},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [ {} ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "f77a5354-56fe-4b7e-9942-3d0e5b647872"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "4d200dee-4f2c-4bf2-842a-87f8a2125eed"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N3"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION LINE"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "655;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION_Laezel"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : true},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "SpeakerMappingId" : {"type" : "guid", "value" : "a198cbf3-1545-9cd1-0e00-652d893c3079"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "0"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     },
                     {
                        "SpeakerMappingId" : {"type" : "guid", "value" : "1243ea22-88ee-faad-0f24-c7f2be7b33a1"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "1"},
                        "list" : {"type" : "LSString", "value" : "58a69333-40bf-8358-1d17-fff240d7fb12"}
                     }
                  ]
               }
            ]
         },
         "editorData" : {
            "HowToTrigger" : {"type" : "LSString", "value" : ""},
            "defaultAttitudes" : [ {} ],
            "defaultEmotions" : [ {} ],
            "isImportantForStagings" : [ {} ],
            "isPeanuts" : [ {} ],
            "needLayout" : {"type" : "bool", "value" : false},
            "nextNodeId" : {"type" : "uint32", "value" : 0},
            "speakerSlotDescription" : [ {} ],
            "synopsis" : {"type" : "LSString", "value" : ""}
         },
         "templateData" : {
            "exportText" : {"type" : "bool", "value" : true},
            "flagParameters" : [ {} ],
            "majorVersion" : {"type" : "int32", "value" : 0},
            "minorVersion" : {"type" : "int32", "value" : 0}
         }
      }
   }
}
