{
   "save" : {
      "header" : {
         "version" : "4.0.8.612"
      },
      "regions" : {
         "dialog" : {
            "AllowDeadSpeakers" : {"type" : "bool", "value" : false},
            "DefaultAddressedSpeakers" : [
               {
                  "Object" : [
                     {
                        "MapKey" : {"type" : "int32", "value" : 0},
                        "MapValue" : {"type" : "int32", "value" : -1}
                     }
                  ]
               }
            ],
            "DefaultSpeakerIndex" : {"type" : "int32", "value" : -1},
            "IsAllowingJoinCombat" : {"type" : "bool", "value" : false},
            "IsSubbedDialog" : {"type" : "bool", "value" : false},
            "IsWorld" : {"type" : "bool", "value" : false},
            "TimelineId" : {"type" : "FixedString", "value" : ""},
            "UUID" : {"type" : "FixedString", "value" : "9b22339e-b443-6132-557f-c64c76b0b75e"},
            "automated" : {"type" : "bool", "value" : false},
            "category" : {"type" : "LSString", "value" : "Generic NPC Dialog"},
            "issfxdialog" : {"type" : "bool", "value" : false},
            "nodes" : [
               {
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [ {} ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "13fad692-0008-4cb5-9d73-bd00b632a00b"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomCineArtKeysPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomLightingPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomSoundPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomVFXPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N2"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "LOGIC NODE"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "975;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION_Gale"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "3a3d0f4c-b181-b91f-12c6-6baf1b33537d"},
                                          "paramval" : {"type" : "int32", "value" : 0},
                                          "value" : {"type" : "bool", "value" : true}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Object"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 2},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [ {} ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "4224b948-ea7b-4fa9-a7b3-a9110238825a"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "13fad692-0008-4cb5-9d73-bd00b632a00b"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomCineArtKeysPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomLightingPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomSoundPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomVFXPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N1"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION LINE"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "655;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION_Gale"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : true},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [ {} ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "61a4c141-34ba-49ea-bb92-d3b43e2bfbe0"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "4224b948-ea7b-4fa9-a7b3-a9110238825a"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomCineArtKeysPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomLightingPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomSoundPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CustomVFXPresent"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N3"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "LOGIC NODE"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "INCLUSION_Gale"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "8809f689-ad97-6823-b4e3-e8e39d3d684a"},
                                          "paramval" : {"type" : "int32", "value" : 0},
                                          "value" : {"type" : "bool", "value" : true}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Object"}}
                              ]
                           }
                        ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 2},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "IsPeanutSpeaker" : {"type" : "bool", "value" : false},
                        "SpeakerMappingId" : {"type" : "guid", "value" : "7e7a4a53-6038-6324-c0b9-b170f71ee02e"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "0"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     },
                     {
                        "IsPeanutSpeaker" : {"type" : "bool", "value" : false},
                        "SpeakerMappingId" : {"type" : "guid", "value" : "b66ad8fc-462f-1f14-070a-719f1e19aa72"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "1"},
                        "list" : {"type" : "LSString", "value" : "ad9af97d-75da-406a-ae13-7071c563f604"}
                     }
                  ]
               }
            ]
         },
         "editorData" : {
            "HowToTrigger" : {"type" : "LSString", "value" : ""},
            "defaultAttitudes" : [
               {
                  "data" : [
                     {
                        "key" : {"type" : "FixedString", "value" : "0"},
                        "val" : {"type" : "LSString", "value" : "Neutral"}
                     }
                  ]
               }
            ],
            "defaultEmotions" : [
               {
                  "data" : [
                     {
                        "key" : {"type" : "FixedString", "value" : "0"},
                        "val" : {"type" : "LSString", "value" : "Neutral"}
                     }
                  ]
               }
            ],
            "isImportantForStagings" : [
               {
                  "data" : [
                     {
                        "key" : {"type" : "FixedString", "value" : "0"},
                        "val" : {"type" : "LSString", "value" : "True"}
                     }
                  ]
               }
            ],
            "isPeanuts" : [
               {
                  "data" : [
                     {
                        "key" : {"type" : "FixedString", "value" : "0"},
                        "val" : {"type" : "LSString", "value" : "False"}
                     }
                  ]
               }
            ],
            "needLayout" : {"type" : "bool", "value" : false},
            "nextNodeId" : {"type" : "uint32", "value" : 0},
            "speakerSlotDescription" : [
               {
                  "data" : [
                     {
                        "key" : {"type" : "FixedString", "value" : "0"},
                        "val" : {"type" : "LSString", "value" : ""}
                     }
                  ]
               }
            ],
            "synopsis" : {"type" : "LSString", "value" : ""}
         },
         "templateData" : {
            "exportText" : {"type" : "bool", "value" : true},
            "flagParameters" : [ {} ],
            "majorVersion" : {"type" : "int32", "value" : 0},
            "minorVersion" : {"type" : "int32", "value" : 0}
         }
      }
   }
}
