{
   "save" : {
      "header" : {
         "version" : "4.0.0.35"
      },
      "regions" : {
         "dialog" : {
            "DefaultSpeakerIndex" : {"type" : "int32", "value" : -1},
            "TimelineId" : {"type" : "FixedString", "value" : ""},
            "UUID" : {"type" : "FixedString", "value" : "d0638cc9-c6f8-7c30-415d-ed2c6a2d8bc5"},
            "automated" : {"type" : "bool", "value" : false},
            "category" : {"type" : "LSString", "value" : "Generic NPC Dialog"},
            "issfxdialog" : {"type" : "bool", "value" : false},
            "nodes" : [
               {
                  "RootNodes" : [
                     {
                        "RootNodes" : {"type" : "FixedString", "value" : "6e640ef8-8480-4b27-9896-95649e326123"}
                     }
                  ],
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "| Origin Moment Choice - Outcome A |"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "252b384e-3ac9-4d8e-913c-df7c7d8ac56b"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N29"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "975;1329"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "OriginMoment_COM"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : true},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : -666},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "| Origin Moment Choice - Outcome B |"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "4a63f1b8-4c22-4756-89c6-8bc90c21acc5"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N24"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "975;1548"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "OriginMoment_COM"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : true},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : -666},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : true},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "| Allow |"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "574ea1e9-6c6b-4c9e-9f09-c563ab19e391"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "252b384e-3ac9-4d8e-913c-df7c7d8ac56b"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N15"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "655;1329"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "OriginMoment_COM"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 2},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : true},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "| (COM) Greeting |"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "6e640ef8-8480-4b27-9896-95649e326123"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [
                           {
                              "flaggroup" : [
                                 {
                                    "flag" : [
                                       {
                                          "UUID" : {"type" : "FixedString", "value" : "7075ec1a-70ad-bd25-3111-0a955cf07585"},
                                          "paramval" : {"type" : "int32", "value" : 0},
                                          "value" : {"type" : "bool", "value" : true}
                                       }
                                    ],"type" : {"type" : "FixedString", "value" : "Object"}}
                              ]
                           }
                        ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "d56f7979-74a7-412d-840c-4fc435352515"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N38"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "COM"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "15;1329"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "OriginMoment_COM"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : true},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "| Deny |"},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "d4f638b4-2578-48d9-9bb3-91e3ad4ed067"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "4a63f1b8-4c22-4756-89c6-8bc90c21acc5"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagQuestion"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N14"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Question"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "655;1548"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "OriginMoment_COM"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 2},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSWString", "value" : "| Origin Moment Companion Intent | "},
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "d56f7979-74a7-412d-840c-4fc435352515"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "574ea1e9-6c6b-4c9e-9f09-c563ab19e391"}
                                 },
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "d4f638b4-2578-48d9-9bb3-91e3ad4ed067"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N40"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;1329"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "OriginMoment_COM"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "0"},
                        "list" : {"type" : "LSString", "value" : ""}
                     },
                     {
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "1"},
                        "list" : {"type" : "LSString", "value" : ""}
                     },
                     {
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "2"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     }
                  ]
               }
            ]
         },
         "template" : {
            "parameters" : [ {} ]
         }
      }
   }
}
