{
   "save" : {
      "header" : {
         "version" : "4.0.7.406"
      },
      "regions" : {
         "dialog" : {
            "AllowDeadSpeakers" : {"type" : "bool", "value" : false},
            "DefaultAddressedSpeakers" : [ {} ],
            "DefaultSpeakerIndex" : {"type" : "int32", "value" : -1},
            "IsAllowingJoinCombat" : {"type" : "bool", "value" : false},
            "IsWorld" : {"type" : "bool", "value" : false},
            "TimelineId" : {"type" : "FixedString", "value" : ""},
            "UUID" : {"type" : "FixedString", "value" : "b0776f65-51e8-0836-7cc9-b177f03fd0fb"},
            "automated" : {"type" : "bool", "value" : false},
            "category" : {"type" : "LSString", "value" : "Generic NPC Dialog"},
            "issfxdialog" : {"type" : "bool", "value" : false},
            "nodes" : [
               {
                  "RootNodes" : [
                     {
                        "RootNodes" : {"type" : "FixedString", "value" : "aa8643b3-fde4-48ad-97f2-e3ce26687431"}
                     }
                  ],
                  "node" : [
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "ffd08582-7396-4cac-bcd4-8f9cd0fd8ef3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 2}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Astarion comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "27bdfcfd-be0c-4ac8-aa46-44e788ac3dc2"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "9b0354c0-56d9-4723-8034-918ac9abab19"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 2}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Gale comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "4b2f071c-0d44-4338-b561-ebefeb889c9d"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "b5682d1d-c395-489c-9675-1f9b0c328ea5"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 2}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Laezel comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "d9ee71b2-88ba-4a71-9268-22469f09b59f"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "5f40def5-d3ec-4698-a367-01a339888956"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 2}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Wyll comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "8badad78-392f-4f32-999b-ab348c5e648a"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "642d2aee-e3df-47e3-9f47-bbcd441bb9e0"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 2}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|SH comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "3ce940b7-c6d9-4105-af6d-94f3d5deb66a"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "1a2f70d6-8ead-4eb5-a824-79ee1971764a"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 2}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Karlach comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "20038e8f-354b-4dae-86c6-cee84a5d9fa9"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Generic comment|"},
                                                "LineId" : {"type" : "guid", "value" : "4ec7ec71-951d-461f-bc04-5777f9472c27"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "5c8b134e-829b-7d9b-788f-e8e07799d908"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [ {} ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N4"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer - Speaker 3"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "975;234"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : true},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 2},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : true},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "ffd08582-7396-4cac-bcd4-8f9cd0fd8ef3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Astarion comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "9b25cbe6-d718-4cc8-9556-d03db9a5abd9"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "9b0354c0-56d9-4723-8034-918ac9abab19"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Gale comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "97511b49-5eba-4dc2-adb1-ad4db9e639cd"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "b5682d1d-c395-489c-9675-1f9b0c328ea5"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Laezel comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "b6a87379-b90b-41cb-b03a-7f14c42602f8"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "642d2aee-e3df-47e3-9f47-bbcd441bb9e0"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|SH comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "18231394-0a7a-4dda-9b76-f8410b21a2fd"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "5f40def5-d3ec-4698-a367-01a339888956"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Wyll comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "0cb1127e-a903-41ef-a7e7-42b1678cf304"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "1a2f70d6-8ead-4eb5-a824-79ee1971764a"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 0}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Karlach comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "e30c9b62-45f0-4a86-bf97-bbb31fb5a387"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Generic comment|"},
                                                "LineId" : {"type" : "guid", "value" : "70d3a5e1-7bdf-4c60-8c58-f0ba106b35df"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "aa8643b3-fde4-48ad-97f2-e3ce26687431"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "ae6db784-4028-7fe6-3cee-101a71aa2133"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagGreeting"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N1"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Greeting - Speaker 1"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "335;234"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : "ORIGINS_PAD"}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 0},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     },
                     {
                        "GameData" : [
                           {
                              "AiPersonalities" : [ {} ],
                              "CameraTarget" : {"type" : "int32", "value" : -1},
                              "CustomMovie" : {"type" : "LSString", "value" : ""},
                              "ExtraWaitTime" : {"type" : "int32", "value" : 0},
                              "MusicInstrumentSounds" : [ {} ],
                              "OriginSound" : [ {} ],
                              "SoundEvent" : {"type" : "LSString", "value" : ""}
                           }
                        ],
                        "GroupID" : {"type" : "FixedString", "value" : ""},
                        "GroupIndex" : {"type" : "int32", "value" : -1},
                        "Root" : {"type" : "bool", "value" : false},
                        "ShowOnce" : {"type" : "bool", "value" : false},
                        "TaggedTexts" : [
                           {
                              "TaggedText" : [
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "ffd08582-7396-4cac-bcd4-8f9cd0fd8ef3"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Astarion comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "2833849b-85c4-4ce2-a734-8cd0d3d54c62"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "9b0354c0-56d9-4723-8034-918ac9abab19"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Gale comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "9b99a03e-dc5d-4323-8f14-0b00db3ba1c9"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "b5682d1d-c395-489c-9675-1f9b0c328ea5"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Laezel comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "fc9dd2fe-54dc-411d-a8c3-8ec5fd3cf07a"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "5f40def5-d3ec-4698-a367-01a339888956"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Wyll comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "3d8cdbac-c85e-4202-84b8-9490c5451e73"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "642d2aee-e3df-47e3-9f47-bbcd441bb9e0"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|SH comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "3e4a6d38-aad1-42f8-98b6-33da197fdcef"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [
                                             {
                                                "Rule" : [
                                                   {
                                                      "HasChildRules" : {"type" : "bool", "value" : false},
                                                      "TagCombineOp" : {"type" : "uint8", "value" : 0},
                                                      "Tags" : [
                                                         {
                                                            "Tag" : [
                                                               {
                                                                  "Object" : {"type" : "guid", "value" : "1a2f70d6-8ead-4eb5-a824-79ee1971764a"}
                                                               }
                                                            ]
                                                         }
                                                      ],
                                                      "speaker" : {"type" : "int32", "value" : 1}
                                                   }
                                                ]
                                             }
                                          ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Karlach comment!|"},
                                                "LineId" : {"type" : "guid", "value" : "99ae48a3-e2e6-4903-959f-5382a5f550ef"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 },
                                 {
                                    "HasTagRule" : {"type" : "bool", "value" : true},
                                    "RuleGroup" : [
                                       {
                                          "Rules" : [ {} ],
                                          "TagCombineOp" : {"type" : "uint8", "value" : 0}
                                       }
                                    ],
                                    "TagTexts" : [
                                       {
                                          "TagText" : [
                                             {
                                                "Content" : {"type" : "LSString", "value" : "|Generic comment|"},
                                                "LineId" : {"type" : "guid", "value" : "3766fe8b-f12c-45d6-a62f-5d0f24a83897"},
                                                "TagText" : {
                                                   "handle" : "ls::TranslatedStringRepository::s_HandleUnknown",
                                                   "type" : "TranslatedString",
                                                   "version" : 0
                                                },
                                                "stub" : {"type" : "bool", "value" : true}
                                             }
                                          ]
                                       }
                                    ]
                                 }
                              ]
                           }
                        ],
                        "Tags" : [ {} ],
                        "UUID" : {"type" : "FixedString", "value" : "ae6db784-4028-7fe6-3cee-101a71aa2133"},
                        "addressedspeaker" : {"type" : "int32", "value" : -1},
                        "checkflags" : [ {} ],
                        "children" : [
                           {
                              "child" : [
                                 {
                                    "UUID" : {"type" : "FixedString", "value" : "5c8b134e-829b-7d9b-788f-e8e07799d908"}
                                 }
                              ]
                           }
                        ],
                        "constructor" : {"type" : "FixedString", "value" : "TagAnswer"},
                        "editorData" : [
                           {
                              "data" : [
                                 {
                                    "key" : {"type" : "FixedString", "value" : "AnimationTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Attitude"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "CinematicObjects"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Emotion"},
                                    "val" : {"type" : "LSString", "value" : "Default"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ForceDisableIsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "ID"},
                                    "val" : {"type" : "LSString", "value" : "N2"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "InternalNodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "IsCustomNode"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "MusicTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "NodeContext"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "Quality"},
                                    "val" : {"type" : "LSString", "value" : "Bronze"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "SFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "StateChangeTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateNodeUUID"},
                                    "val" : {"type" : "LSString", "value" : "00000000-0000-0000-0000-000000000000"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "TemplateVersion"},
                                    "val" : {"type" : "LSString", "value" : "0"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "VFXTags"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "collapsed"},
                                    "val" : {"type" : "LSString", "value" : "False"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "logicalname"},
                                    "val" : {"type" : "LSString", "value" : "Answer - Speaker 2"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "position"},
                                    "val" : {"type" : "LSString", "value" : "655;234"}
                                 },
                                 {
                                    "key" : {"type" : "FixedString", "value" : "sourcetemplate"},
                                    "val" : {"type" : "LSString", "value" : ""}
                                 }
                              ]
                           }
                        ],
                        "endnode" : {"type" : "bool", "value" : false},
                        "exclusive" : {"type" : "bool", "value" : false},
                        "gameplaynode" : {"type" : "bool", "value" : false},
                        "optional" : {"type" : "bool", "value" : false},
                        "setflags" : [ {} ],
                        "speaker" : {"type" : "int32", "value" : 1},
                        "stub" : {"type" : "bool", "value" : true},
                        "suppresssubtitle" : {"type" : "bool", "value" : false},
                        "transitionmode" : {"type" : "uint8", "value" : 0},
                        "waittime" : {"type" : "float", "value" : -1.0}
                     }
                  ]
               }
            ],
            "speakerlist" : [
               {
                  "speaker" : [
                     {
                        "SpeakerMappingId" : {"type" : "guid", "value" : "88450474-de8a-bfde-24d3-19204df092fa"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "0"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     },
                     {
                        "SpeakerMappingId" : {"type" : "guid", "value" : "1f340e0b-1c96-f3d7-933b-b9b5f8943e16"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "1"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     },
                     {
                        "SpeakerMappingId" : {"type" : "guid", "value" : "e9ed47ab-d435-b31d-0ad1-73ad9177b434"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "2"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     },
                     {
                        "SpeakerMappingId" : {"type" : "guid", "value" : "79657671-7b31-eb1b-a3e5-8a4bb5bb950b"},
                        "SpeakerTagsIndex" : {"type" : "LSString", "value" : ""},
                        "index" : {"type" : "FixedString", "value" : "3"},
                        "list" : {"type" : "LSString", "value" : "e0d1ff71-04a8-4340-ae64-9684d846eb83"}
                     }
                  ]
               }
            ]
         },
         "editorData" : {
            "HowToTrigger" : {"type" : "LSString", "value" : ""},
            "defaultAttitudes" : [ {} ],
            "defaultEmotions" : [ {} ],
            "isImportantForStagings" : [ {} ],
            "isPeanuts" : [ {} ],
            "needLayout" : {"type" : "bool", "value" : false},
            "nextNodeId" : {"type" : "uint32", "value" : 8},
            "speakerSlotDescription" : [ {} ],
            "synopsis" : {"type" : "LSString", "value" : ""}
         },
         "templateData" : {
            "exportText" : {"type" : "bool", "value" : true},
            "flagParameters" : [ {} ],
            "majorVersion" : {"type" : "int32", "value" : 0},
            "minorVersion" : {"type" : "int32", "value" : 0}
         }
      }
   }
}
